@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-sans@5.0.1/index.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/geist-mono@5.0.1/index.css');

@import "tailwindcss";

@theme {
  --font-sans: 'Geist Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
}
